body {
    background-color: rgb(249, 250, 255);
    background-image: url('/static/img/bg-logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(56, 43, 91);
    font-family: sans-serif;
}

.midscreen {
    padding-top: calc(20vh);
}

.img-top {
    padding: 10!important;
    max-height: 86px;
    max-width: 86px;
}

.card-body p {
    font-size: 0.9rem;
}