<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=4, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Carrier installer</title>
  </head>
  <body>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Clouds</h5>
              <p class="card-text">This function can create Virtual Machine on your Cloud account with installed Carrier inside.</p>
              <a href="/aws" class="btn btn-dark">AWS</a>
              <a href="/gcp" class="btn btn-dark">GCP</a>
              <a href="/azure" class="btn btn-dark">Azure</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">SSH</h5>
              <p class="card-text">This function can install Carrier across ssh connection.</p>
              <a href="/ssh" class="btn btn-dark">Install</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Local installation</h5>
              <p class="card-text">This function can install Carrier locally.</p>
              <a href="/local" class="btn btn-dark">Install</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Kubernetes</h5>
              <p class="card-text">minikube kubespray helm chart etc...</p>
              <a href="/" class="btn btn-dark">install</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
