<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=4, shrink-to-fit=no">
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Carrier installer</title>
  </head>
  <body>
    <div class="container midscreen">
      <div class="row">
        <div class="col-3">
          <div class="card" style="width: 16rem; height: 13rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="{{ url_for('static', filename='img/cloud.png') }}" class="img-top mt-2" alt="Cloud">
                </div>
                <div class="col-8">
                  <h5 class="card-title">Cloud</h5>
                  <p class="card-text">Provisions VM and configures Carrier on it</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row float-right mt-1">
                <a href="/aws" class="btn btn-sm btn-outline-secondary mr-2">AWS</a>
                <a href="/gcp" class="btn btn-sm btn-outline-secondary mr-2">GCP</a>
                <a href="/azure" class="btn btn-sm btn-outline-secondary mr-2">Azure</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 16rem; height: 13rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="{{ url_for('static', filename='img/ssh.png') }}" class="img-top mt-2" alt="Cloud">
                </div>
                <div class="col-8">
                  <h5 class="card-title">SSH</h5>
                  <p class="card-text">Configure carrier over SSH on existing server</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row float-right mt-1">
                <a href="/ssh" class="btn btn-sm btn-outline-secondary mr-2">Install</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 16rem; height: 13rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="{{ url_for('static', filename='img/local.png') }}" class="img-top mt-2" alt="Cloud">
                </div>
                <div class="col-8">
                  <h5 class="card-title">Local </h5>
                  <p class="card-text">Installs Carrier on current machine</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row float-right mt-1">
                <a href="/local" class="btn btn-sm btn-outline-secondary mr-2">Install</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 16rem; height: 13rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img src="{{ url_for('static', filename='img/kuber.png') }}" class="img-top pt-2" alt="Cloud">
                </div>
                <div class="col-1"></div>
                <div class="col-7">
                  <h5 class="card-title">Kubernetes</h5>
                  <p class="card-text">Installs carrier on Kubernetess cluster</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row float-right mt-1">
                <a href="/" class="btn btn-sm btn-outline-secondary mr-2 disabled">Under development</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
