<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=4, shrink-to-fit=no">
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Carrier local installer</title>
  </head>

  <body>
    <div class="container midscreen w-50 float-left ml-5">
      <form method="post">
        <div class="form-group">
          <label for="public_ip">Public Ip</label>
          <input type="text" class="form-control" name="public_ip" id="public_ip" placeholder="Enter your public ip address">

        </div>
        <button type="submit" class="btn btn-primary">Install</button>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
