<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Carrier local install</title>
  </head>

  <body>

    <form method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Public Ip</label>
        <input type="text" class="form-control" name="public_ip" placeholder="Enter your public ip address">

      </div>
      <button type="submit" class="btn btn-primary">Install</button>
    </form>

    <script src="static/js/jquery.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
