<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Carrier ssh install</title>
  </head>

  <body>
    <div class="container">

      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="ipaddr">IP Address</label>
          <input type="text" class="form-control" name="ipaddr" placeholder="Enter ip address" required>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="sshrsa">Example file input</label>
          <input type="file" class="form-control-file" name="file">
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Install</button>
      </form>
    </div>
    <div class="container">
      <div class="col align-self-end">
        <pre>
          logs: here
          
          {{ logs }}
        </pre>
      </div>
    </div>
    <script src="static/js/jquery.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
